body {
  background-color: #f1f3f6;
  line-height: 1;
  font-family: Roboto, Arial, sans-serif;

}

.top {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-color: #2874f0;
  flex-direction: row;
  align-items: center;
  line-height: 5px;
  flex: 1;
  justify-content: space-around;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
input {
  border: 0;
  outline: 0;
}
input:focus {
  outline: none !important;
}

.search {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 2px;
  border: none;
}

.sbutton {
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 2px;
  border-radius: 2px;
  position: relative;
  top: 2px;
}

#fkplus {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 10%;
  margin-right: 6px;
}
#fkplus img {
  height: 20px;
}

.loginbar {
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 0 10%;
}

.dropbtn {
  background-color: white;
  border-radius: 1px;
  color: #2874f0;
  padding: 4px 10px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-weight: 100;
}

.dropdown-content a {
  color: black;
  padding: 10px 6px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid silver;

}

.dropdown-content a:hover {background-color: white; }

.dropdown:hover .dropdown-content {display: block;}


.loginbtn:hover {
  padding: 2px 10px;
  
  color: #2874f0;
  border-radius: 2px;
  
}
.more h3 {
  color: white;
  font-weight: 400;
}
/*start */
.dropbtn1 {
  background-color:#2874f0;
  border-radius: 3px;
  color: white;
  padding: 4px 6px;
  font-size: 16px;
  border: none;
}


/*end */

.cart {
  display: flex;
  color: white;
  flex-direction: row;
  align-items: center;
  padding: 0 2px;
  }
  .cart h3{
    font-weight: 400;
  }

.mid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  font-size: 10px;
  background-color: white;
}

.middle img {
  height: 40px;
}
.middle img:hover{
  display: block;
  
}
.slider img {
  margin-top: 10px;
  width: 100%;
}

.deal-item img:hover{
  display: block;
}

.deal {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.deal-header {
  display: flex;
  line-height: 20px;
  flex: 1;
  background-color: white;
}
.deal-header button {
  position: relative;
  top: 22px;
  height: 20px;
  margin-left: 70%;
}

.deal-item {
  height: 200px;
  width: 80%;
  display: flex;
  font-family: Roboto, Arial, sans-serif;
  flex-wrap: wrap;
  position: absolute;
  background-color: transparent;
  top: 75%;
}



.item1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
  background-color: white;
  padding: 0 10px;
}

.item1 img {
  margin-top: 10px;
  height: 150px;
  width: 150px;
}

.item1 img:hover{
  display: block;
}
.font1 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
}
.font2 {
  font-size: 16px;
  color: #388e3c;
}
.font3 {
  font-size: 12px;
}

.refer {
  height: 300px;
  width: 180px;
}

.deal-item1 {
  height: 200px;
  flex: 1;
  display: flex;
  font-family: Roboto,Arial,sans-serif;
  
  background-color: white;
  
  
  
}
.deal button{
  background-color: #2874f0;
  border: none;
  color: white;
  padding: 5px;
  font-weight: 100;
  border-radius: 1px;
  align-items: center;
  font-size: 12px;
  
}

